@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  font-family: "EB Garamond", serif;
  background-color: #fcfaf4;
  opacity: 1;
  background-image: linear-gradient(#e9edc8 1px, transparent 1px),
    linear-gradient(to right, #e9edc8 1px, #fcfaf4 1px);
  background-size: 20px 20px;
}

.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pfp img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
